body {
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  /* @include desktop{
  	width: 1024px;
  	margin: 0 auto;
  } */
}

html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*resize*/
@keyframes anchor {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
header .navBar__container {
  position: relative;
}
header .navBar__container .logo__container {
  padding: 20px 40px;
  margin: 10px 0px;
}
header .navBar__container .logo__container .logo__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 34px;
  color: #000;
  z-index: 99;
  position: fixed;
}
header .navBar__container .logo__container .logo__circle {
  z-index: -1;
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #3eff3e;
  right: -33px;
  top: 0px;
}
header .navBar__container .header__nav {
  width: 100%;
  position: fixed;
  background-color: #fff;
  right: 0;
  z-index: 10;
  top: 0px;
  transition: 0.5s;
  overflow-y: hidden;
  height: 0px;
  padding-top: 80px;
  padding-bottom: 10px;
}
header .navBar__container .header__nav .nav__list--links {
  display: block;
  padding: 10px 0 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  text-align: center;
  transition: 0.3s;
}
header .navBar__container .button__container {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 11;
}
@media (min-width: 768px) {
  header .navBar__container .button__container {
    display: none;
  }
}
header .navBar__container .button__container .button {
  position: relative;
  width: 40px;
  height: 35px;
  border-top: 5px solid #000;
  transition: 0.2s transform linear;
  background-color: transparent;
  border-right: 0px;
  border-left: 0px;
  outline: none;
  border-bottom: 0px;
  cursor: pointer;
}
header .navBar__container .button__container .button:before, header .navBar__container .button__container .button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #000;
  transform: translateY(10px);
  outline: none;
}
header .navBar__container .button__container .button::after {
  transform: translateY(25px);
  transition: 0.2s transform linear;
}
header .navBar__container .button__container .button-active {
  transform: rotate(45deg) translateY(5px);
  border: none;
  outline: none;
}
header .navBar__container .button__container .button.button-after:after {
  transform: rotate(-90deg) translateX(-10px);
  border-top: 5px solid #000;
}
header .navBar__container .button__container .button.button-before:before {
  border-top: 5px solid #000;
}
header .navBar__container .header__nav--active {
  right: 0;
}
header .navBar__container .nav__cover {
  width: 20%;
  position: absolute;
  left: 0;
  height: 100vh;
  background-color: #000;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}
header .navBar__container .nav__active {
  position: fixed;
  height: 100%;
}
header .navBar__container .nav__menu--active {
  color: #ff3d00 !important;
}
@media (min-width: 1024px) {
  header .navBar__container .nav__menu--active {
    background-color: transparent;
  }
}
header .header__bg {
  position: relative;
  margin: 0 auto;
}
header .header__bg img {
  height: 600px;
  max-width: 100%;
}
header .header__bg .header__bg--textbox {
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 40px;
  text-align: left;
  color: #fff;
}
header .header__bg .header__bg--textbox h1 {
  font-size: 40px;
  padding-bottom: 40px;
  width: 350px;
}
header .header__bg .header__bg--textbox p {
  font-size: 18px;
  padding-bottom: 30px;
  font-style: italic;
}
header .header__bg .header__bg--textbox a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 2px solid #fff;
  padding: 15px 20px;
  border-radius: 45px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
}

.work .work__textbox {
  margin: 0 auto;
  padding-top: 60px;
}
.work .work__textbox h2 {
  font-size: 34px;
  padding: 0px 40px;
  padding-bottom: 40px;
}
.work .work__textbox p {
  font-size: 16px;
  padding: 0px 40px;
  padding-bottom: 40px;
  font-style: italic;
  line-height: 1.5;
  color: #000000a3;
}
.work .work__photography {
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.work .work__photography .work__photography--img {
  position: relative;
  min-height: 100%;
  height: 400px;
}
.work .work__photography .work__photography--img .work__photography--textbox {
  position: absolute;
  left: 40px;
  bottom: 30px;
  color: #fff;
}
.work .work__photography .work__photography--img .work__photography--textbox h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.work .work__photography .work__photography--img .work__photography--textbox p {
  text-transform: uppercase;
  font-style: italic;
}
.work .work__photography .work__photography--figure {
  max-width: 100%;
  min-height: 100%;
}

/* @import '_nav_mobile.scss'; */